<div
  class="hero-container"
  alt="Hero" [style.background-image]="'url(' + hero + ')'"
>
  <div class="hero-wrapper">
    <div class="hero-title-wrapper">
      <h1 class="hero-title">
        Насладись прогулкой в горах<br>с командой единомышленников
      </h1>
    </div>

    <form action="" class="hero-form">
      <div class="hero-input-wrapper">
        <input id="location" class="hero-input" placeholder="Локация для тура">
        <img [src]="arrow" alt="" class="hero-input-icon">
        <label for="location">выберите из списка</label>
      </div>

      <div class="hero-input-wrapper">
        <input
          #dateInput
          id="date"
          class="hero-input"
          [type]="inputType"
          [readonly]="inputType === 'text'"
          placeholder="Дата похода"
          [formControl]="dateControl"
          (click)="onClick()"
          (blur)="onBlur()"
        >
        <img [@if]="inputType === 'text'" [src]="calendar" class="hero-input-icon" alt="">
        <label for="date">укажите дату</label>
      </div>

      <div class="hero-input-wrapper">
        <input id="participant" class="hero-input" placeholder="Участники">
        <img [src]="arrow" alt="" class="hero-input-icon">
        <label for="participant">выберите из списка</label>
      </div>

      <button class="hero-btn">Найти программу</button>
    </form>
  </div>

</div>
<app-hike/>
