<header class="header-container">
  <div>
    <img alt="header logo" [src]="logoImg">
  </div>
  <nav>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a href="#" class="nav-list-item-link">Главная</a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="nav-list-item-link">Про гида</a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="nav-list-item-link">Программа тура</a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="nav-list-item-link">Стоимость</a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="nav-list-item-link">Блог</a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="nav-list-item-link">Контакты</a>
      </li>
    </ul>
  </nav>
  <div>
    <button class="nav-btn">Консультация</button>
  </div>
</header>
